.member-detail{
    
    .welcome{
        padding: 1em 1em 1.5em;
        display: inline-block;
    }
    h3{
        padding: 1em 0;
        line-height: 1.2;
        font-weight: normal;
        small{
            color: #55b9ff;
            display: inline-block;
            margin-left: 0.5em;
            line-height: 1.5;
        }
    }
    .input-group{
        input{
            background: #eee;
            border-right: 0;
        }
        &+.input-group{
            margin-top: 0.6em;
        }
    }
    .memberdetail-form{
        max-width: 90vw;
        margin: 0 auto 10em;
        .input-group{
            display: flex;
            .el-input,
            .el-select{
                margin-right: 0.2em;
                flex: 1;
            }
            
        }
        .button-setting{
            &.disabled{
                opacity: 0;
                pointer-events: none;
            }
        }
        .el-input-group__append, .el-input-group__prepend{
            border-left: 0;
            background: #eee;
            transition-duration: 0.2s;
        }
        .el-input{
            border-right: 0;
        }
        hr.dashed{
            margin-top: 2em;
            margin-left: -20px;
            margin-right: -20px;
            margin-top: 2em;
            border-style: dashed;
            border-top: 0;
            border-color: #ddd;
        }
        .notset{
            .el-input__inner{
                background: #fff;
                border-color: red;
                transition-duration: 0.2s;
                &+.el-input-group__append{
                    background: #fff;
                    border-color: red;
                    transition-duration: 0.2s;
                    color: red;
                }
            }
        }
        .el-input__inner{
            background: #eee;
            transition-duration: 0.2s;
            line-height: inherit;
            &:focus{
                background: #fff;
                border-color: blue;
                transition-duration: 0.2s;
                &+.el-input-group__append{
                    background: #fff;
                    border-color: blue;
                    transition-duration: 0.2s;
                }
            }
        }
        ::placeholder{
            color: #000;
        }
    }
}