.member-login{
    
    .el-drawer__body{
        padding: 10em 2em;
        background: #eee;
        color: #646981;
    }
    .el-input{
        margin-bottom: 1em;

    }
    .el-input__inner{
        border-color: #646981;   
    }
    ::placeholder{
        color: #646981;
    }     
    .text-right{
        text-align: right;
    }
    a{
        width: auto;
        padding: 0 0 0 0.5em;
        color: inherit;
        font-size: 0.8em;
        // text-decoration: none;
    }
}