.el-main{
    padding: 0;
    padding-top: #{(44/375*100vw)};
}
.el-header{
    padding: 0;
    position: fixed;
    width: 100%;
    height: #{(44/375*100vw)}!important;
    top: 0;
    z-index: 10;
    background: #000;
    // z-index: 2005;
    .logo{
        margin: 0 auto;
        text-align: center;
        display: block;
        line-height: #{(44/375*100vw)};
        img{
            vertical-align: middle;
        }
    }
    .login{
        position: absolute;
        margin: #{(17/375*100%)} #{(15/375*100%)} 0 0;
        top: 0;
        right: 0;
        width: 4em;
        line-height: 1;
        z-index: 2019;
        text-align: right;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 3em;
        height: auto;
        z-index: 10;
        margin: #{(10/375*100%)} 0 0 #{(20/375*100%)};
        &.on +.overlay{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%; 
            z-index: 10;
            &+nav{
                height: auto;
                max-height: calc(100vh - 8em);
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                a{
                    height: 3em;
                    position: relative;
                    // transition-delay: 0.05s;
                    &.disabled{
                        color: rgba(255,255,255,0.3);
                        cursor: not-allowed;
                    }
                    &+ a{
                        border-top: 1px solid #cacaca;
                    }
                }
            }
        }
    }
    nav{
        position: relative;
        transition-duration: 0.2s;
        height: 0;
        overflow: hidden;
        z-index: 10;
        a{
            transition-duration: 0.2s;
            height: 0;
            overflow: hidden;
            display: block;
            line-height: 3;
            // width: 100%;
            text-align: left;
            // padding-left: 1em;
            background: #333;
            padding: 0 1em;
        }
        .el-select{
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;
            background: #333;
            width: 100%;
            height: 3em;
            line-height: 3;
            input{
                background: transparent;
                border-radius: 0;
                color: #fff;
                border: 0;
            }
        }
    }
}