.el-main{
    background: #000;
    color: #fff;
    min-height: 100vh;
    a{
        color: inherit;
        text-decoration: none;
    }
}
.links {
    padding-top: 15px;
}

@import '_header';
@import '_footer';

.el-button--default{
    background: #000;
    border: #000;
    color: #fff;
}
.el-button--primary{
    background: #3c8dbc;
    border-color: #3c8dbc;
}
.el-button--success{
    background: #00c0ef;
    border-color: #00c0ef;
    &.is-plain{
        background: transparent;
        border-width: 3px;
        border-color: #00c0ef;
        color: #00c0ef;
    }
}
.el-button--login{
    background: #646981;
    color: #fff;
    width: 100%;
    display: block;
    margin-top: 1em;
}
.el-button--message{
    background: #55b9f5;
    color: #fff;
    width: 100%;
    display: block;
}
.el-button--info{
    background: #e0e1e2;
    border-color: #e0e1e2;
    color: #616161;
}
.el-button--transfer{
    background: #55b9f5;
    color: #fff;
    width: 100%;
    display: block;
    margin: 1em auto;
}
.el-container{
    flex-direction: column;
    text-align: center;
    padding-bottom: 5em;
    img{
        max-width: 100%;
    }
}
.marquee{
    background: #777777;
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 3;
    height: 3em;
    display: block;
    &:before{
        content:'最新消息';
        display: inline-block;
        margin-right: 0.5em;
        margin-left: 0.5em;
        font-size: 14px;
        line-height: 2;

    }
}
.el-message-box{
    max-width: 90vw;
}

.float-1{
    position: fixed;
    margin: 0  #{(13/375*100%)} #{(38/375*100%)} ;
    bottom: 0;
    left: 0;
    // width: 3em;
    line-height: 1;
    z-index: 2050;
}
.float-2{
    position: fixed;
    margin: 0 #{(13/375*100%)}  #{(30/375*100%)} 0;
    bottom: 0;
    right: 0;
    // width: 3em;
    line-height: 1;
    z-index: 2050;
}
.block{
    display: block;
    img{
        display: block;
        width: 100%;
    }
}
.el-drawer{
    width: 100vw!important;
}
.el-drawer__body{
    overflow-y: auto;
    overflow-x: hidden;
    color: #000; 
}
.el-drawer__header{
    flex-direction: row-reverse;
    background: #000;
    color: #fff;
    padding: 0;
    line-height: 3;
    display: flex;
    margin-bottom: 0;
    [role=heading]{
        flex: 1;
        text-align: center;
    }
    a.logout{
        flex: 0;
        text-align: center;
        width: auto;
        padding: 0 0.5em;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        z-index: 10;
        // font-size: 0.8em;
    }
}
.el-drawer__close-btn{
    i:before{
        content:"\e6de";
    }
}
a{
    color: #55b9ff;
}
@import 'mcenter';

.el-tabs__nav-wrap{
    background: #363c5d;
    margin-bottom: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
    color: #fff;
    background: #363c5d;
    border: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    background: #272637;
    box-shadow: 0 0 0 1px #565479 inset;
}
.el-tabs--card>.el-tabs__header{
    border: 0;
    margin: 0;
}
.el-tabs__content{
    background: #ddd;    
    min-height: 61vh;
    color: #363c5d;
    padding-top: 2em;
    img{
        display: block;
        margin: 0 auto;
    }
    .el-col{
        margin-bottom: 1em;
        text-align: center;
    }
}
.el-select-dropdown{
    z-index: 2051!important;
}
.text-center{
    text-align: center;
}
.lh2{
    line-height: 2;
}
.lh3{
    line-height: 3;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    max-width: 100%;
}
[role="heading"]{
    
    position: absolute;
    width: 100%;
    left: 0;
}
.el-drawer__close-btn{
    
    position: absolute;
    left: 0;
}
.el-drawer__header{
    min-height: #{(44/375*100vw)}!important;
}

.el-date-range-picker{
    width: 100vw;
    min-width: 0;
    margin-top: 0!important;
    left: 0!important;
    top: 0!important;
    border-radius: 0;
    .el-date-range-picker__content{
        float: none;
        width: 100%;
    }
}
.el-date-range-picker .el-picker-panel__body{
    min-width: 0;    
    max-height: 85vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
}
.el-input__inner{
    border-color: #646981;   
    font-size: 1rem;
}