.member-messages{
    .el-drawer__header{
        flex-direction: row-reverse;
        background: #000;
        color: #fff;
        padding: 0;
        line-height: 3;
        display: flex;
        margin-bottom: 0;
        [role=heading]{
            flex: 1;
            text-align: center;
        }
        a{
            flex: 0;
            text-align: center;
            width: auto;
            padding: 0 0.5em;
            color: #fff;
            text-decoration: none;
            white-space: nowrap;
            font-size: 0.8em;
        }
    }
    .el-drawer__close-btn{
        i:before{
            content:"\e6de";
        }
    }
    .el-drawer__body{
        padding: 3em 2em 7em;
    }
    .sub [class^=el-col]{
        padding: 0.5em;
        &:last-child{
            padding-bottom: 0;
        }
    }
    font-size: 0.9em;
    line-height: 2;
    h3{
        margin-bottom: 1em;
    }
    h4{
        line-height: 2.4;
        background: #c3c3c3;
        text-align: center;
        color: #fff;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }
    .del{
        border-radius: 50%;
        line-height: 2em;
        height: 2em;
        width: 2em;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        background: #54b9ff;
        i{
            height: 100%;
            width: 100%;
            line-height: 2em;
            display: inline-block;
            color: #fff;            
        }

    }
    .single-message{
        border-bottom: 1px solid #c3c3c3;
        margin-bottom: 2.5em;
        .unread{
            color: #f00;
        }
        .read{
            color: #54b9ff;
        }  
        .message-content{
            margin: 0 -0.5em;
            padding: 1em;
            background: #f9f9f9;
        }
    }
}