.member-bankcards{
    .el-drawer__header{
        flex-direction: row-reverse;
        background: #000;
        color: #fff;
        padding: 0;
        line-height: 3;
        display: flex;
        margin-bottom: 0;
        [role=heading]{
            flex: 1;
            text-align: center;
        }
        a{
            flex: 0;
            text-align: center;
            width: auto;
            padding: 0 0.5em;
            color: #fff;
            text-decoration: none;
            white-space: nowrap;
            font-size: 0.8em;
        }
    }
    .el-drawer__close-btn{
        i:before{
            content:"\e6de";
        }
    }
    .el-drawer__body{
        padding: 3em 2em 7em;
    }
    .underline{
        display: inline-block;
        line-height: 2.5;
        border-bottom: 2px solid currentColor;
        padding: 0 0.5em;
    }
    table{
        border: 1px solid #dcdcdc;
        margin: 1em auto;
        border-radius: 5px;
        font-size: 0.9em;;
        tr+tr th,
        tr+tr td{
            border-top: 1px solid #dcdcdc;
            // display: table-row;
        }
        th+th,
        td+td{
            border-left: 1px solid #dcdcdc;
        }
        td,th{
            padding: 1em;
        }
        thead th{
            border-bottom: 1px solid #dcdcdc;
            // border-radius: 5px;
            background: #f9fafb;
        }
    }
}